@media (min-width: 1000px) {
    .navigationFirstRow {
        color: white;
        display: flex;
        justify-content: right;
        font-size: 16px;
    }
    .eliteChoiceHeading > h1 {
        font-size: 60px;
        width: 500px;
    }
    .eliteChoiceHeading {
        padding-top: 50px;
    }
}
.mainHeaderContainer {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: 100% center;
}
.navigationFirstRow {
    padding-top: 40px;
}
.navigationFirstRow > span:nth-child(1) {
    margin-right: 18px;
}
.navigationFirstRow > span:nth-child(2) > a {
    color: white !important;
    text-decoration: none;
}
.red {
    color: #EC3641 !important;
}
.mainNavigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.brandName {
    color: white;
    font-size: 20px;
}
.centerItemsNavigation {
    /* background: orange; */
    display: flex;
}
.centerItemsNavigation > a {
    color: white;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 19px;
}
.centerItemsNavigation > a:hover {
    color: #EC3641;
    transition: color .5s ease-in;
}
.navigationRightSide > button {
    border: none;
    background: #EC3641;
    color: white;
    padding-left: 59px;
    padding-right: 59px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.eliteChoiceHeading {
    color: white;
}